<div class="vertical-menu">

<div class="set-theme theme-side-light left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
            
                <li>
                    <a href="/admin/category" class="waves-effect">
                        <i class="fa fa-list-alt"></i> <span> Category </span>
                    </a>
                     <a href="/admin/PurchaseOrder" class="waves-effect">
                        <i class="fa fa-list-alt"></i> <span> PurchaseOrder </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
</div>
