<div class="vertical-menu">

<div class="set-theme theme-side-light left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title" style="">Menu</li>
                <li>
                    <a href="index.php" class="waves-effect">
                        <i class="ti-home"></i><span class="badge badge-primary badge-pill float-right">2</span> <span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-email"></i><span> Email <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="email-inbox.php">Inbox</a></li>
                        <li><a href="email-read.php">Email Read</a></li>
                        <li><a href="email-compose.php">Email Compose</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/category" class="waves-effect">
                        <i class="fa fa-list-alt"></i> <span> Category </span>
                    </a>
                    <a href="/admin/PurchaseOrder" class="waves-effect">
                        <i class="fa fa-list-alt"></i> <span> PurchaseOrder </span>
                    </a>
                    <a href="/admin/product" class="waves-effect">
                        <i class="fa fa-list-alt"></i> <span> Product </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
</div>
