<tr class="text-center" >
    <td class="checkbox-custom  ">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="checkrow" value="checkbox" class="custom-control-input delete-checkbox" id="checkbox">
            <label class="custom-control-label" for="checkbox">&nbsp;</label>
        </div>
    </td>
    <td class="text-center">{{{category.id}}}</td>
    <td class="text-center">{{{category.name}}}</td>
    <td class=" text-center">
        <a href="javascript:void(0);"<i class="mdi mdi-pencil font-size-12"></i></a>
        <a href="javascript:void(0);" <i class="mdi mdi-close font-size-12"></i></a>
    </td>
</tr>